.vscode/**
.vscode-test/**
src/**
webview/simulator/node_modules/**
webview/simulator/src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
